<% provide :page_header do %>
  <h1><span class="fa fa-cloud-download" aria-hidden="true"></span> Archives</h1>
  <div class="pull-right">
    <%= link_to new_work_archive_path, class: 'btn btn-primary' do %>
      <span class="fa fa-edit" aria-hidden="true"></span> <%= t(:'helpers.action.archive.new') %>
    <% end %>
  </div>
<% end %>
